@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #bdc3c8;
  }
  h2, h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }
  
  ol, ul {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
  }

  li {
    
    align-items: center;
  }
  
  img {
    height: 110px;
    width: auto;
    max-width: 200px;
    
  }

  button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    width: 100px;
    background-color:#e5ab48;
    border: none;
    border-radius: 5%;
    font: 700 20px Roboto, sans-serif;
    color: #ffffff;
    cursor: pointer;
  }
